[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Raft Library in C++ based on the Raft implementation in Apache Kudu
[access "refs/*"]
	owner = group user/anirbanr-fb
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anirbanr-fb
	label-Verified = -1..+1 group user/anirbanr-fb
	push = group user/anirbanr-fb
	read = group user/anirbanr-fb
	rebase = group user/anirbanr-fb
	removeReviewer = group user/anirbanr-fb
	submit = group user/anirbanr-fb
[access "refs/heads/*"]
	create = group user/anirbanr-fb
	push = +force group user/anirbanr-fb
	pushMerge = group user/anirbanr-fb
	read = group user/anirbanr-fb
[access "refs/tags/*"]
	push = group user/anirbanr-fb
	push = +force group user/anirbanr-fb
